body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

.Introduction {
    background-image: url('./assets/Rocket_2.jpg');
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    clip-path: path("M 0,0 L 0,650 Q 850,800 1650,630 L 2200,0 Z");
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

ul {
    width: 60%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 4%;
    display: flex;
    align-items: center;
    animation : Button-Move 3s;
    transition: transform 0.5s ease;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
}

li:hover {
    transform: translateY(-5px);
}

.Head-typo {
    width: 30%;
    margin-left: 8%;
    margin-top: 15%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Head-typo h1 {
    color: rgb(254, 254, 255);
    animation: Opacity 5s;
}

.Head-typo p {
    color: rgb(254, 254, 255);
    animation: Opacity 7s;
}

.Head-typo button {
    width: 15%;
    height: 10%;
    background-color: transparent;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    animation: Button-Move 7s;
    transition: color 0.3s, background-color 0.3s;
}

.Head-typo button:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #fff;
    transition: transform 0.3s;
}

.Head-typo button:hover {
    color: #2e2d2d;
    background-color: rgba(255, 255, 255, 0.2);
}

.Head-typo button:hover:before {
    transform: scaleX(0);
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.section h1 {
    font-weight: bold;
}

.section h4 {
    color: #898787;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 40%;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}


.card-content {
    display: flex;
}

.card-content img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.text-content {
    padding: 20px;
}

.text-content h2 {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

.text-content p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}

.card-3 {
    width: 60%;
}

.card-3 p {
    font-size: 11px;
}

.User-Wallet {
    width: 100%;
    height : 133vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.User-Wallet.is-visible {
    /* Add styles for the visible state with animation */
    opacity: 1;
    transform: translateY(0);
}

.header-elements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Info-Element {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* New styling for the duplicated cards */
.Info-Element:nth-child(n+5) {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.Info-Element:nth-child(n+5)::before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    width: 200px;
    height: 20px;
    background-color: #fff; /* Match the card background color */
    transform: translateX(-50%);
}

.Busd-Cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Adjust as needed */
    width: 50%; /* Ensure the cards take the full width */
    height : fit-content;
}

.Busd-Card {
    width: 45%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin to separate Busd-Card */
    margin-top: 3%;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
}

#Busd-Card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Busd-Card-2 p, h4 {
    padding: 3px;
    margin: 0;
}

.Busd-Card input {
    width: 75%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Add a border for better visibility */
    padding: 8px; /* Add padding for better spacing */
}

/* Update the styling for the Busd-Card button */
.Busd-Card button {
    width: 60%;
    padding: 10px; /* Adjust padding for better spacing */
    background-color: #3498db; /* Change to your preferred background color */
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px; /* Add rounded corners */
    margin-top: 10px; /* Adjust margin for better spacing */
    transition: background-color 0.3s;
}

/* Style for the focused Busd-Card button */
.Busd-Card button:hover {
    background-color: #2980b9; /* Change to a slightly darker shade than the button color on hover */
}

/* Add a box shadow to the Busd-Card button for a subtle lift */
.Busd-Card button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Style for the focused input field */
.Busd-Card input:focus {
    outline: none;
    border-color: #2e2d2d; /* Change border color on focus */
}

/* Move label to the top when input is focused or has content */
.Busd-Card label {
    position: absolute;
    top: 0;
    left: 20px;
    transition: top 0.3s, font-size 0.3s;
    pointer-events: none;
}

.Busd-Card input:focus + label,
.Busd-Card input:not(:placeholder-shown) + label {
    top: -15px;
    font-size: 12px;
}

.Busd-Card-inside {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Busd-Card-Wallet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 0%;
}

.Busd-Card-Wallet p {
    margin: 0%;
    padding: 0%;
}


@keyframes Opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes Button-Move {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity : 1;
        transform: translateX(0px);
    }
}
